---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">ホーム</a>
        <a href="/about">概要</a>
        <a href="/blog">日記</a>
    
		<h1>遅蒔文庫のHPテスト2026</h1>
        <h2>――遅蒔文庫とは誰か？</h2>

        <p>Astroの入門チュートリアルリベンジ</p>

        <p>2行目</p>
	</body>
</html>
