---
const pageTitle = "日記";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">ホーム</a>
        <a href="/about">概要</a>
        <a href="/blog">日記</a>
		<h1>{pageTitle}</h1>

        <p>毎日つけるとか、定期的につけるということもなく、素朴な近況報告や日々の所感をしたためる場として。</p>
        <ul>
            <li><a href="/posts/post-1">2026-07-12　最初の記事</a></li>
            <li><a href="/posts/post-2">2026-07-12　2番目の記事</a></li>
            <li><a href="/posts/post-3">2026-07-12　3番目の記事</a></li>
        </ul>
	</body>
</html>
