---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">ホーム</a>
        <a href="/about">概要</a>
        <a href="/blog">日記</a>
		<h1>日記</h1>

        <p>毎日つけるとか、定期的につけるということもなく、素朴な近況報告や日々の所感をしたためる場として。</p>
	</body>
</html>
